.site-header  {
    margin: 30px 0;
    
}
.header-inside {
   display: flex; 
   justify-content: space-between;
   align-items: center;
}
.header-right {
    display: flex;
}
.nav-list {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.search-form {
    margin-left: 40px;
}
.search-input {
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #b2b2b3;
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #999;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}
.nav-link:hover {
    color: #333;
    border-bottom: 2px solid #999;
}
